streamlit
pandas
numpy
plotly
requests
openpyxl

gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-generativeai

streamlit-aggrid
extra-streamlit-components
streamlit-js-eval

pymongo
certifi

apscheduler
pytz

scikit-learn
joblib